<h1>All Supply Lists and Events!</h1>

<ul>
<% @supply_lists.each do |s|%>
  <li><%= link_to s.name, supply_list_path(s) %></li>
<% end %>
</ul>
<br>
<% @events.each do |e|%>
  <li><%= link_to e.name, events_path(e) %></li>
<% end %>